.postStyle{
    border-style: solid;
    border-color: black;
    padding-left: 25px;
}
.textBody{
    background-color: white;
    min-height: 70px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}
.LD{
    background-color: white;
    padding-right: 5px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}
.secondColumn{
    background-color: white;
}
.miniRow{
    padding-left: 5px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}
.imgColumn{
    background-color: white;
    padding: 5px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}
.profileColumn{
    background-color: white;
    padding: 5px;
    border-style: solid;
    border-color: rgb(137, 137, 137);
}