.postStyle{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.newPostStyle{
    padding-left: 40px;
    padding-right: 20px;
}
.loginText{
    color:white;
}
.background{    
    background-image: url('/src/images/login-background-gray.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}
.profileText{
    background-color: white;
}
.profileButton{
    float: right;
    padding-right: 10px;
}
.profileContent{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.profileColumn{
    width: 30px;
}
.formStyle{
    background-color: white;
    padding-left: 60px;
    padding-top: 10px;
    margin-left: 550px;
    margin-bottom: 20px;
    margin-right: 135px;
    justify-content: right;
}
.formButton{
    padding-top: 10px;
}
.newPStyle{
    padding-left: 60px;
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    float: right;
    color: white;
}

.friends{
    color:white;
    font-size: xx-large;
    font-style: bold
}

.profileName{
    color:white;
    font-size: xx-large;
}